add support for captive URL detection via DHCP option 114 venue-info-url

I've been happily using `captive-browser` for many years. Sometimes, it does not work because the captive portal advertises the portal URL via DHCP option 114 venue-info-url.

It would be great to support DHCP option 114 venue-info-url.

Documentation:
* https://datatracker.ietf.org/doc/html/draft-ietf-capport-rfc7710bis-11
* https://developer.android.com/about/versions/11/features/captive-portal

Thanks!


to refer to newer RFCs which describe how Captive Portals should (hopefully) work in the future:

* [RFC 8952](https://www.rfc-editor.org/rfc/rfc8952.html): Architecture
* [RFC 8908](https://www.rfc-editor.org/rfc/rfc8908.html): API
  * machine-readable state of captivity
    * Internet connection currently allowed?
    * if so, how many seconds and/or bytes are remaining?
    * Can user further extend session?
  * separate URIs for 
    * captive portal (where user can extend session & etc.)
    * venue info (where user finds train/flight status, entertainment, …)
  * allows for proper TLS for Captive Portals
* [RFC 8910](https://www.rfc-editor.org/rfc/rfc8910.html): API / portal identification via DHCP & RAs